#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 20px;
    
}


button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color:rgb(51, 46, 46) ;
    color: whitesmoke;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}