body {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    height: 110vh;
    background-color: rgb(233, 234, 236);
}
#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2a2a2a;
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
}
#screen {
    width: 100%;
    padding: 50px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(6, 6, 6);
    color: whitesmoke;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid #1a1a1a;
    background-color:#2a2a2a;
    color: rgb(254, 180, 235);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 
    inset 0 1px 3px rgba(255, 255, 255, 0.1),  
    inset 0 -1px 2px rgba(0, 0, 0, 0.5),     
    0 2px 4px rgba(0, 0, 0, 0.3);  
}

button:hover {
    background-color: rgb(79, 68, 76);
}

button:active {
    background-color: rgb(127, 108, 124);
}

.delete {
    font-size: 40px;
}